*.a
*.o
moc_*.cpp
*.moc
*.so
*.so.*
*.orig
*.rej
*kdev*
*.exe
*.dll
*.def
*.dylib
object_script.*
*~
.DS_Store
.*.swp
*.pc
patches

# Byproducts of build
mythtv/Makefile
mythtv/config.ep
mythtv/config.h
mythtv/config.log
mythtv/config.mak
mythtv/config/
mythtv/libs/Makefile
mythtv/libs/libavcodec/Makefile
mythtv/libs/libavformat/Makefile
mythtv/libs/libavutil/Makefile
mythtv/libs/libavutil/avconfig.h
mythtv/libs/libmyth/Makefile
mythtv/libs/libmythdb/Makefile
mythtv/libs/libmythdb/mythconfig.h
mythtv/libs/libmythdb/mythconfig.mak
mythtv/libs/libmythdb/version.cpp
mythtv/libs/libmythdvdnav/Makefile
mythtv/libs/libmythfreemheg/Makefile
mythtv/libs/libmythfreesurround/Makefile
mythtv/libs/libmythhdhomerun/Makefile
mythtv/libs/libmythlivemedia/Makefile
mythtv/libs/libmythmpeg2/Makefile
mythtv/libs/libmythnvctrl/Makefile
mythtv/libs/libmythsamplerate/Makefile
mythtv/libs/libmythsoundtouch/Makefile
mythtv/libs/libmythtv/Makefile
mythtv/libs/libmythui/Makefile
mythtv/libs/libmythupnp/Makefile
mythtv/libs/libswscale/Makefile
mythtv/programs/Makefile
mythtv/programs/mythbackend/Makefile
mythtv/programs/mythbackend/mythbackend
mythtv/programs/mythbackend/version.cpp
mythtv/programs/mythcommflag/Makefile
mythtv/programs/mythcommflag/mythcommflag
mythtv/programs/mythfrontend/Makefile
mythtv/programs/mythfrontend/mythfrontend
mythtv/programs/mythfrontend/version.cpp
